<!-- Banner -->
<div class="banner-top">
    <img alt='top banner' src="images/banners/bra.jpg">
</div>

<!-- Header section -->
<header class="header-wrapper header-wrapper--home">
    <div class="container">
        <!-- Logo link-->
        <a href='index-2.html' class="logo">
            <img alt='logo' src="images/logo.png">
        </a>

        <!-- Main website navigation-->
        <nav id="navigation-box">
            <!-- Toggle for mobile menu mode -->
            <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
            </a>

            <!-- Link navigation -->
            <ul id="navigation">
                <li>
                    <span class="sub-nav-toggle plus"></span>
                    <a href="#">Pages</a>
                    <ul>
                        <li class="menu__nav-item"><a href="movie-page-left.html">Single movie (rigth sidebar)</a></li>
                        <li class="menu__nav-item"><a href="movie-page-right.html">Single movie (left sidebar)</a></li>
                        <li class="menu__nav-item"><a href="movie-page-full.html">Single movie (full widht)</a></li>
                        <li class="menu__nav-item"><a href="movie-list-left.html">Movies list (rigth sidebar)</a></li>
                        <li class="menu__nav-item"><a href="movie-list-right.html">Movies list (left sidebar)</a></li>
                        <li class="menu__nav-item"><a href="movie-list-full.html">Movies list (full widht)</a></li>
                        <li class="menu__nav-item"><a href="single-cinema.html">Single cinema</a></li>
                        <li class="menu__nav-item"><a href="cinema-list.html">Cinemas list</a></li>
                        <li class="menu__nav-item"><a href="trailer.html">Trailers</a></li>
                        <li class="menu__nav-item"><a href="rates-left.html">Rates (rigth sidebar)</a></li>
                        <li class="menu__nav-item"><a href="rates-right.html">Rates (left sidebar)</a></li>
                        <li class="menu__nav-item"><a href="rates-full.html">Rates (full widht)</a></li>
                        <li class="menu__nav-item"><a href="offers.html">Offers</a></li>
                        <li class="menu__nav-item"><a href="contact.html">Contact us</a></li>
                        <li class="menu__nav-item"><a href="404.html">404 error</a></li>
                        <li class="menu__nav-item"><a href="coming-soon.html">Coming soon</a></li>
                        <li class="menu__nav-item"><a href="login.html">Login/Registration</a></li>
                    </ul>
                </li>
                <li>
                    <span class="sub-nav-toggle plus"></span>
                    <a href="page-elements.html">Features</a>
                    <ul>
                        <li class="menu__nav-item"><a href="typography.html">Typography</a></li>
                        <li class="menu__nav-item"><a href="page-elements.html">Shortcodes</a></li>
                        <li class="menu__nav-item"><a href="column.html">Columns</a></li>
                        <li class="menu__nav-item"><a href="icon-font.html">Icons</a></li>
                    </ul>
                </li>
                <li>
                    <span class="sub-nav-toggle plus"></span>
                    <a href="page-elements.html">Booking steps</a>
                    <ul>
                        <li class="menu__nav-item"><a href="book1.html">Booking step 1</a></li>
                        <li class="menu__nav-item"><a href="book2.html">Booking step 2</a></li>
                        <li class="menu__nav-item"><a href="book3-buy.html">Booking step 3 (buy)</a></li>
                        <li class="menu__nav-item"><a href="book3-reserve.html">Booking step 3 (reserve)</a></li>
                        <li class="menu__nav-item"><a href="book-final.html">Final ticket view</a></li>
                    </ul>
                </li>
                <li>
                    <span class="sub-nav-toggle plus"></span>
                    <a href="gallery-four.html">Gallery</a>
                    <ul>
                        <li class="menu__nav-item"><a href="gallery-four.html">4 col gallery</a></li>
                        <li class="menu__nav-item"><a href="gallery-three.html">3 col gallery</a></li>
                        <li class="menu__nav-item"><a href="gallery-two.html">2 col gallery</a></li>
                    </ul>
                </li>
                <li>
                    <span class="sub-nav-toggle plus"></span>
                    <a href="news-left.html">News</a>
                    <ul>
                        <li class="menu__nav-item"><a href="news-left.html">News (rigth sidebar)</a></li>
                        <li class="menu__nav-item"><a href="news-right.html">News (left sidebar)</a></li>
                        <li class="menu__nav-item"><a href="news-full.html">News (full widht)</a></li>
                        <li class="menu__nav-item"><a href="single-page-left.html">Single post (rigth sidebar)</a></li>
                        <li class="menu__nav-item"><a href="single-page-right.html">Single post (left sidebar)</a></li>
                        <li class="menu__nav-item"><a href="single-page-full.html">Single post (full widht)</a></li>
                    </ul>
                </li>
                <li>
                    <span class="sub-nav-toggle plus"></span>
                    <a href="#">Mega menu</a>
                    <ul class="mega-menu container">
                        <li class="col-md-3 mega-menu__coloum">
                            <h4 class="mega-menu__heading">Now in the cinema</h4>
                            <ul class="mega-menu__list">
                                <li class="mega-menu__nav-item"><a href="#">The Counselor</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Bad Grandpa</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Blue Is the Warmest Color</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Capital</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Spinning Plates</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Bastards</a></li>
                            </ul>
                        </li>

                        <li class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
                            <ul class="mega-menu__list">
                                <li class="mega-menu__nav-item"><a href="#">Gravity</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Captain Phillips</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Carrie</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Cloudy with a Chance of Meatballs 2</a></li>
                            </ul>
                        </li>

                        <li class="col-md-3 mega-menu__coloum">
                            <h4 class="mega-menu__heading">Ending soon</h4>
                            <ul class="mega-menu__list">
                                <li class="mega-menu__nav-item"><a href="#">Escape Plan</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Rush</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Prisoners</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Enough Said</a></li>
                                <li class="mega-menu__nav-item"><a href="#">The Fifth Estate</a></li>
                                <li class="mega-menu__nav-item"><a href="#">Runner Runner</a></li>
                            </ul>
                        </li>

                        <li class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
                            <ul class="mega-menu__list">
                                <li class="mega-menu__nav-item"><a href="#">Insidious: Chapter 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Additional header buttons / Auth and direct link to booking-->
        <div class="control-panel">
            <div class="auth auth--home">
                <div class="auth__show">
                        <span class="auth__image">
                          <img alt="" src="images/client-photo/auth.png">
                        </span>
                </div>
                <a href="#" class="btn btn--sign btn--singin">
                    me
                </a>
                <ul class="auth__function">
                    <li><a href="#" class="auth__function-item">Watchlist</a></li>
                    <li><a href="#" class="auth__function-item">Booked tickets</a></li>
                    <li><a href="#" class="auth__function-item">Discussion</a></li>
                    <li><a href="#" class="auth__function-item">Settings</a></li>
                </ul>

            </div>
            <a href="#" class="btn btn-md btn--warning btn--book btn-control--home login-window">Book a ticket</a>
        </div>

    </div>
</header>

<!-- Slider -->
<div class="bannercontainer">
<div class="banner">
<ul>

<li data-transition="fade" data-slotamount="7" class="slide" data-slide='Rush.'>
    <img alt='' src="images/slides/first-slide.jpg">
    <div class="caption slide__name margin-slider"
         data-x="right"
         data-y="80"

         data-splitin="chars"
         data-elementdelay="0.1"

         data-speed="700"
         data-start="1400"
         data-easing="easeOutBack"

         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"

         data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "


         data-splitout="lines"
         data-endelementdelay="0.1"
         data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"

         data-endspeed="500"
         data-end="8400"
         data-endeasing="Back.easeIn"
            >
        RUSH
    </div>

    <div class="caption slide__time margin-slider sfr str"
         data-x="right"
         data-hoffset='-243'
         data-y="186"
         data-speed="300"
         data-start="2100"
         data-easing="easeOutBack"
         data-endspeed="300"
         data-end="8700"
         data-endeasing="Back.easeIn"
            >
        From
    </div>
    <div class="caption slide__date margin-slider lfb ltb"
         data-x="right"
         data-hoffset='-149'
         data-y="186"
         data-speed="500"
         data-start="2400"
         data-easing="Power4.easeOut"
         data-endspeed="400"
         data-end="8200"
         data-endeasing="Back.easeIn"
            >
        October 18
    </div>
    <div class="caption slide__time margin-slider sfr str"
         data-x="right"
         data-hoffset='-113'
         data-y="186"
         data-speed="300"
         data-start="2100"
         data-easing="easeOutBack"
         data-endspeed="300"
         data-end="8700"
         data-endeasing="Back.easeIn"
            >
        - till
    </div>
    <div class="caption slide__date margin-slider lfb ltb"
         data-x="right"
         data-y="186"
         data-speed="500"
         data-start="2800"
         data-easing="Power4.easeOut"
         data-endspeed="400"
         data-end="8200"
         data-endeasing="Back.easeIn"
            >
        November 01
    </div>
    <div class="caption slide__text margin-slider customin customout"
         data-x="right"
         data-y="250"
         data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="400"
         data-start="3000"
         data-endspeed="400"
         data-end="8000"
         data-endeasing="Back.easeIn">
        Two-time Academy Award winner Ron Howard, teams once again with fellow two-time Academy<br> Award nominee, writer Peter Morgan , on Rush, a spectacular big-screen re-creation of the merciless<br> 1970s rivalry between James Hunt and Niki Lauda.
    </div>
    <div class="caption margin-slider skewfromright customout "
         data-x="right"
         data-y="324"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="400"
         data-start="3300"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-end="7700"
         data-endeasing="Power4.easeOut">
        <a href="#" class="slide__link">check out cinemas &amp; time</a>
    </div>
</li>

<li data-transition="fade" data-slotamount="7" class="slide fading-slide" data-slide='Travel worldwide.
Create trip film.'>
    <img alt='' src="images/bg-video.jpg">
    <div class="caption slide__video" data-x="0" data-y="0" data-autoplay='true'>
        <video class="media-element"  autoplay="autoplay" preload='none' loop="loop" muted="" src="video/TravelIs.mp4" >
            <source type="video/webm" src="video/TravelIs.webm">
            <source type="video/mp4" src="video/TravelIs.mp4">
            <source type="video/ogg" src="video/TravelIs.ogv">
        </video>
    </div>

    <div class="caption slide__name slide__name--smaller"
         data-x="left"
         data-y="160"

         data-splitin="chars"
         data-elementdelay="0.1"

         data-speed="700"
         data-start="1400"
         data-easing="easeOutBack"

         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"

         data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "


         data-splitout="lines"
         data-endelementdelay="0.1"
         data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
         data-endspeed="500"

         data-endeasing="Back.easeIn"
            >
        Travel, Admire, Remember.
    </div>

    <div class="caption slide__time position-center postion-place--one sfr stl"
         data-x="left"

         data-y="242"
         data-speed="300"
         data-start="2100"
         data-easing="easeOutBack"
         data-endspeed="300"

         data-endeasing="Back.easeIn">
        From
    </div>
    <div class="caption slide__date position-center postion-place--two lfb ltb"
         data-x="left"
         data-y="242"
         data-speed="500"
         data-start="2400"
         data-easing="Power4.easeOut"
         data-endspeed="400"

         data-endeasing="Back.easeIn">
        April 18
    </div>
    <div class="caption slide__time position-center postion-place--three sfr stl"
         data-x="left"
         data-y="242"
         data-speed="300"
         data-start="2100"
         data-easing="easeOutBack"
         data-endspeed="300"

         data-endeasing="Back.easeIn">
        - till
    </div>
    <div class="caption slide__date position-center postion-place--four lfb ltb"
         data-x="left"
         data-y="242"
         data-speed="500"
         data-start="2800"
         data-easing="Power4.easeOut"
         data-endspeed="400"

         data-endeasing="Back.easeIn">
        May 01
    </div>

    <div class="caption lfb slider-wrap-btn ltb"
         data-x="left"
         data-y="310"
         data-speed="400"
         data-start="3300"
         data-easing="Power4.easeOut"
         data-endspeed="500"

         data-endeasing="Power4.easeOut" >
        <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">learn more</a>
    </div>
</li>

<li data-transition="fade" data-slotamount="7" class="slide" data-slide='Stop wishing.
Start doing.'>
    <img alt='' src="images/slides/next-slide.jpg">
    <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
         data-x="left"
         data-y="160"

         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

         data-speed="700"
         data-start="1400"
         data-easing="easeOutBack"
         data-endspeed="500"
         data-end="8600"
         data-endeasing="Back.easeIn"

            >
        Stop <span class="highlight">wishing.</span> Start <span class="highlight">doing.</span>
    </div>

    <div class="caption slide__descript customin customout"
         data-x="left"
         data-y="240"
         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="700"
         data-start="2000"
         data-endspeed="500"
         data-end="8400"
         data-endeasing="Back.easeIn">
        find your best match movie with A.MOVIE
    </div>

    <div class="caption lfb customout slider-wrap-btn"
         data-x="left"
         data-y="310"
         data-speed="500"
         data-start="2800"
         data-easing="Power4.easeOut"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-endspeed="400"
         data-end="8000"
         data-endeasing="Power4.easeOut" >
        <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
    </div>
</li>

</ul>
</div>
</div>

<!--end slider -->